<h1 class="mb-3">Lazy loading</h1>

  <ul>

    <li>
      <a routerLink="auth/especialidades">Especialidades</a>
    </li>
    <ul>
      <li class="lista">
        <a href="#">➢ Desarrollador FrontEnd</a>
      </li>

      <li class="lista">
        <a href="#">➢ Desarrollador BackEnd</a>
      </li>
      
      <li class="lista">
        <a href="#">➢ Desarrollador FullStack</a>
      </li>
    </ul>
  </ul>


  <ul>
    <li>
      <a routerLink="auth/carreras">Carreras</a>
    </li>

    <ul>
      <li class="lista">
        <a href="#">➢ Medicina</a>
      </li>

      <li class="lista">
        <a href="#">➢ Sistemas </a>
      </li>
      
      <li class="lista">
        <a href="#">➢ Arquitectura </a>
      </li>
    </ul>

  </ul>

  <ul>
    <li>
      <a routerLink="auth/laptop">Marcas de Laptop</a>
    </li>

    <ul>
      <li class="lista">
        <a href="#">➢ Lenovo</a>
      </li>

      <li class="lista">
        <a href="#">➢ Dell </a>
      </li>
      
      <li class="lista">
        <a href="#">➢ Asus</a>
      </li>
    </ul>

  </ul>

  <ul>
    <li>
      <a routerLink="auth/gaseosas">Marcas de Gaseosas</a>
    </li>

    <ul>
      <li class="lista">
        <a href="#">➢ Coca Cola </a>
      </li>

      <li class="lista">
        <a href="#">➢ Fanta </a>
      </li>
      
      <li class="lista">
        <a href="#">➢ Sprite </a>
      </li>
    </ul>
  
  </ul>


